
.container{
    width: 75%;
    margin:0 auto;
  }
  


.container.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact_options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    gap: 5.5rem;
}

.contact_option{      
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border:1px solid rgba(77, 181, 255, 0.4);
    background-color: rgba(240, 234, 237, 0.1);


}


.contact_option-icon{
    font-size: 2rem;    
    margin-bottom: 0.5rem;
    color: #fff;

}
h4, h5{    
    color: #fff;

}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    text-decoration: none;
}

/****************FORM**************/

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

input,
textarea{
width: 100%;
padding: 1.5rem;
border-radius: 0.5rem;
background: transparent;
background-color: rgba(240, 234, 237, 0.1);
border: 2px solid rgba(77, 181, 255, 0.4);
resize: none;
color:  #fff;
}


/****************************Media queries (medium devices)*******************/

@media screen and (max-width: 1024px) {

    .container.contact_container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}

/****************************Small queries (medium devices)*******************/

@media screen and (max-width: 600px) {
    
    .container.contact_container{
        width: 90%;
    }    
}